* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
/* common part */
button {
  background: #ff7139;
  border: none;
  padding: 10px 15px;
  border-radius: 15px;
  color: #ffffff;
  box-shadow: 0px 4px 10px #ff7139;
}
/*  Hero Area Container start   */
.heroContainer {
  background-image: url(../img/home/HeroArea.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 25px;
}
.navBar .icon a {
  color: #213053;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
}
.navBar .items ul {
  list-style-type: none;
  overflow: hidden;
  padding: 5px 0;
}
.navBar .items ul li {
  display: inline-block;
}
.navBar .items ul button {
  margin: 5px 15px;
}
.navBar .items ul li a {
  display: block;
  color: #213053;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}
.heroContainer .heroArea {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.heroContainer .heroArea .content {
  width: 40%;
  padding: 20px 30px;
  /* background: rgb(172, 161, 161); */
}
.heroContainer .heroArea .content h1 {
  font-size: 80px;
  line-height: 85px;
  color: #213053;
}
.heroContainer .heroArea .content p:nth-child(2) {
  font-size: 17px;
  padding: 20px 0;
  color: #213053;
}
.heroContainer .heroArea .content p:nth-child(4) {
  font-size: 15px;
  margin-top: 10px;
  color: #213053;
}
.heroContainer .heroArea .content button {
  font-size: 17px;
  font-weight: 500;
  box-shadow: 0px 26px 46px rgba(241, 139, 98, 0.500328);
}
.heroContainer .heroArea .content button img {
  height: 12px;
  margin-left: 5px;
}
.heroContainer .heroArea .bg {
  /* background: rgb(131, 124, 124); */
  width: 40%;
}
.heroContainer .heroArea .bg img {
  width: 100%;
}

/* Features */
.featuresContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
}
.featuresContainer .feature {
  padding: 40px;
  margin: 10px;
  /* background: rgb(143, 128, 128); */
}
.featuresContainer .feature img {
  width: 80px;
  height: 70px;
}
.featuresContainer .feature h3 {
  font-size: 24px;
  font-weight: 600;
  padding: 20px 0;
  color: #213053;
}
.featuresContainer .feature p {
  font-size: 17px;
  font-weight: 400;
  color: #213053;
}

/* Ratings */
.ratingContainer {
  display: flex;
  padding: 30px 60px;
  align-items: center;
  justify-content: space-around;
}
.ratingContainer .contentRating {
  width: 40%;
}
.ratingContainer .contentRating h2 {
  font-size: 48px;
  line-height: 58px;
  font-weight: 600;
  padding-bottom: 15px;
  color: #213053;
}
.ratingContainer .contentRating p {
  font-size: 17px;
  line-height: 30px;
  font-weight: 500;
  color: #213053;
}
.ratingContainer .userRating {
  width: 40%;
  display: flex;
  gap: 30px;
  color: #ffffff;
}
.ratingContainer .userRating h2 {
  font-size: 60px;
  font-weight: 900;
  color: #ffffff;
}
.ratingContainer .userRating p {
  font-size: 17px;
  font-weight: bold;
  color: #ffffff;
}
.ratingContainer .userRating .rating {
  background: #1787fc;
  padding: 15px;
  border-radius: 25px;
  width: 150px;
  box-shadow: 0px 6px 0px rgba(23, 135, 252, 0.647591);
}
.ratingContainer .userRating div:last-child {
  background: #213053;
  box-shadow: 0px 6px 0px rgba(33, 48, 83, 0.65);
}

/* Content */
.contentContainer {
  background-image: url(../img/home/bg-2.png);
  background-size: cover;
}
.contentBackground {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 100px;
  padding: 100px;
}
.contentBackground .leftImg {
  width: 40%;
  padding: 20px;
}
.contentBackground .leftImg img {
  width: 100%;
}
.contentBackground .content {
  width: 40%;
  background: #ffffff;
  padding: 30px 60px;
  border-radius: 50px;
  position: relative;
}
.contentBackground .cube {
  position: absolute;
  background-image: url(../img/home/cube.png);
  width: 150px;
  height: 150px;
  background-size: cover;
  right: -70px;
  top: 150px;
}
.contentBackground .content h3 {
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  margin-bottom: 15px;
  color: #213053;
}
.contentBackground .content p {
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 30px;
  color: #213053;
}
.contentBackground .content button {
  font-weight: 700;
  border-radius: 15px;
  font-size: 17px;
  font-size: 16px;
  box-shadow: 0px 26px 46px rgba(241, 139, 98, 0.500328);
}
.contentBackground .content button img {
  height: 12px;
  margin-left: 5px;
}

/* Works */
.workContainer {
  padding: 20px 0;
}
.workContainer h1 {
  text-align: center;
  font-size: 68px;
  padding: 30px 0;
  font-weight: 600;
  color: #213053;
}
.workContainer .allWorks {
  display: flex;
  justify-content: space-around;
}
.workContainer .allWorks .singleWork {
  text-align: center;
}
.workContainer .allWorks .singleWork img {
  width: 200px;
  height: 200px;
  padding-bottom: 25px;
}
.workContainer .allWorks .singleWork p {
  font-size: 25px;
  color: #213053;
}

/* Testimonial */
.testimonialContainer {
  background-image: url(../img/home/bg-4.png);
  background-size: cover;
  padding: 100px 50px;
}
.testimonialContainer .testimonialTitle {
  text-align: center;
  padding-bottom: 25px;
}
.testimonialContainer .testimonialTitle h1 {
  tab-size: 40px;
  font-weight: 600;
  color: #213053;
}
.testimonialContainer .testimonialTitle p {
  tab-size: 17px;
  font-weight: 500;
  color: #213053;
}
.testimonialContainer .testimonialItems {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.testimonialContainer .testimonialItems .singleItem {
  padding: 40px;
  text-align: center;
}
.testimonialContainer .testimonialItems .singleItem img {
  width: 100px;
}
.testimonialContainer .testimonialItems .singleItem p {
  font-size: 21px;
  font-weight: 900;
  padding: 20px 0;
  color: #213053;
}
.testimonialContainer .testimonialItems .singleItem h6 {
  font-size: 21px;
  font-weight: 900;
  color: #213053;
}

/* Footer */
.footerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0;
}
.footerContainer .offShare h1 {
  font-size: 40px;
  font-weight: 600;
  color: #213053;
}
.footerContainer .company h4,
p {
  margin-bottom: 15px;
  color: #213053;
}
.footerContainer .product h4,
p {
  margin-bottom: 15px;
  color: #213053;
}
.footerContainer .newSletter h4 {
  margin-bottom: 15px;
  color: #213053;
}
.footerContainer .newSletter .newSletterInput {
  background-color: #e6eaf4;
  padding: 15px;
  border-radius: 15px;
}
.footerContainer .newSletter .newSletterInput #email {
  background: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 5px;
  font-size: 15px;
  font-weight: 700;
  color: #213053;
}
.footerContainer .newSletter .newSletterInput button {
  font-size: 15px;
  font-weight: 700;
}
.footerContainer .newSletter .newSletterInput .inputArea {
  background: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: #213053;
}
.footerContainer .newSletter .newSletterInput p {
  font-size: 15px;
  font-weight: 900;
  color: #213053;
}
